/* Fonts */

.cabin {
    font-family: "Cabin", "sans-serif" !important;
}

.quicksand {
    font-family: "Quicksand", "sans-serif" !important;
}

.deathcrow {
    font-family: "DeathCrow", "sans-serif" !important;
}

/* Colors */
.bg-preto {
    background-color: #050505;
}

.texto-primario {
    color: #ceb98c !important;
}

.borda-primaria {
    border: 2px solid #ceb98c !important;
}

.bg-intro {
    background-image: url("/img/bg-intro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 74px;
}

@media only screen and (max-width: 992px) {
    .bg-intro {
        margin-top: 58px;
    }
}

.bg-realismo {
    background-image: url("/img/realismo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* CONTENT */

.nav-detalhe {
    position: relative;
}

.nav-detalhe::after {
    content: "";
    background-color: #ceb98c;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s all ease;
}

.nav-detalhe:hover::after {
    width: 60%;
    transition: 0.3s all ease;
}
