/* Webfont: DEATHCROW-Regular */@font-face {
    font-family: 'DEATHCROW';
    src: url('DEATHCROW.eot'); /* IE9 Compat Modes */
    src: url('DEATHCROW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('DEATHCROW.woff') format('woff'), /* Modern Browsers */
         url('DEATHCROW.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

